body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.color-gray{
    color: rgb(88, 87, 87);
}
.half-width{
    width: 50%;
    margin-top: 10% ;
    margin-left: 5%;
}
.half-width img{
    width: 100%;

}
#display-flex{
    display: flex;
    margin-bottom: 3%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    margin-top:  10px;
    position: absolute;
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
}
.half-width-about img{
    width: 70%;
    margin-left: 5%;
}
.half-width-about{
    width: 50%;
    padding-left: 15%;
    padding-top: 5%;

}
.bg-add{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;

}
